* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 body {
   background-image: url(https://media1.tenor.com/images/4dda6c95c993b22f98dadf7e549961dc/tenor.gif?itemid=17994383);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
 }

 .header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border-bottom: solid;
    position: fixed;
    left: 0;
    right: 0;
    color: white;
 }

 .phone {
    border: solid;
    position: fixed;
    bottom: 230px;
    top: 60px;
    right: 80px;
    left: 80px;
    border-radius: 50px;
    border-width: 8px;
    box-shadow: 5px 5px 10px;
    background: linear-gradient(to left, #66ccff 0%, #ffffff 90%);
    background-image: url(https://i.pinimg.com/originals/70/a0/a1/70a0a1a3572c242bb989ba73ea3e5232.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-height: 400px;
    min-height: 400px;
 }
 
 .camera {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .camera-1 {
    border: solid;
    position: absolute;
    left: 80px;
    padding-left: 30px;
    background-color: black;
    top: -8px;
    border-radius: 5px;
 }

 .arjie {
    position: absolute;
    top: 70px;
    left: 20px;
 }


 .search {
    position: absolute;
    top: 30px;
    left: 10px;
 }

 input {
    border-radius: 20px;
    box-shadow: 5px 5px 10px;
 }

 .pictures {
    width: 50px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px;
 }

 p {
 }

 .arjie-1 {
    position: absolute;
    top: 150px;
    left: 20px;
 }

 .arjie-2 {
    position: absolute;
    top: 230px;
    left: 20px;
 }

 .arjie-3 {
    position: absolute;
    top: 310px;
    left: 20px;
 }
 
 .arjie-4 {
    position: absolute;
    
 }

 .family {
    position: fixed;
    bottom: 0;
    left: 90px; 
  }

    .pictures-1 {
        width: 200px;
        border-radius: 20px;
        box-shadow: 5px 5px 10px;
        border: solid;
    }

    .fam-1 {
        position: relative;
    }
    
    .text {
        position: absolute;
        bottom: 4px;
        left: 0;
        top: 0;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid;
        border-radius: 20px;
        background: linear-gradient(rgba(0,0,0,0.20), #66ccff);   
        overflow: hidden;
        filter: opacity(0);
        transition: opacity 5s;
        }

        .text:hover {
            filter: opacity(1);
        }

         p {
            margin: 20px;
            font-weight: bold;
         }

     .note {
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: large;
        margin-top: 10px;
        color: white;
     }
      

     .video {
        position: absolute;
        top: 230px;
        left: 85px;

     }

     iframe {
        border-radius: 20px;
     }